.progressBar {
    width: 500px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.inner {
    width: 0;
    height: 20px;
    border-radius: 5px;
    background-color: green;
    transition: width;
    transition-timing-function: linear !important;
}

.inputs {
    padding: 10px;
}

.inputs label {
    width: 150px;
    display: inline-block;
}